---
layout: default
title: Home
notitle: true
panel: Home

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, postdog]
    width: 4
    image: true
  - roles: [grad, ugrad]
    width: 8
    image: true
---

<div class="page-panel-root" data-panel-root data-default-panel="Home">
    <section id="Home" class="page-panel" data-page-panel="Home" data-panel-label="Home" tabindex="-1">
        {% include home-panel.html %}
    </section>

    <section id="News" class="page-panel" data-page-panel="News" data-panel-label="News" tabindex="-1" hidden>
        {% include news-expanded-section.html %}
    </section>

    <section id="People" class="page-panel" data-page-panel="People" data-panel-label="People" tabindex="-1" hidden>
        {% include people-expanded-section.html %}
    </section>

    <section id="Funding" class="page-panel" data-page-panel="Funding" data-panel-label="Funding" tabindex="-1" hidden>
        {% include funding-expanded-section.html %}
    </section>

    <section id="Papers" class="page-panel" data-page-panel="Papers" data-panel-label="Papers" tabindex="-1" hidden>
        {% include publications-expanded-section.html %}
    </section>
</div>
