{% assign post = include.item %}
{% if post.icon %}
{% assign icon = post.icon %}
{% assign class = "shortnews" %}
{% else %}
{% assign icon = "newspaper-o" %}
{% endif %}

{% capture news %}
    <div>
        {% if post.shortnews %}
            {{ post.content | markdownify | remove: '<p>' | remove: '</p>' }}
        {% else %}
            <h5> <a href="{{ site.base }}{{ post.url }}"> {{ post.title }} </a> </h5>
            {{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}
            <br>
            <a href="{{ site.base }}{{ post.url }}"> Read more &raquo;</a>
        {% endif %}
    </div>
{% endcapture %}

{% capture header %}
<div class="news-card__meta">
    <span class="fa fa-fw fa-{{ icon }}"></span>
    <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
</div>
{% endcapture %}

<li class="news-card {{ class }}">
    {% if post.image %}

        {% capture img %}
            <img class="img-fluid d-block mx-auto"
                 style="{{ post.image_style }}"
                 src="{{ post.image }}">
        {% endcapture %}

        <div class="news-card__surface news-card__surface--with-image">
            <div class="news-card__body">
                {{ header }}
                <div class="news-card__content">
                    {{ news }}
                </div>
            </div>
            <div class="news-card__image">
                {% if post.image_link %}
                    <a href="{{ post.image_link }}">{{ img }}</a>
                {% else %}
                    {{ img }}
                {% endif %}
            </div>
        </div>
     {% else %}
        <div class="news-card__surface">
            {{ header }}
            <div class="news-card__content">
                {{ news }}
            </div>
        </div>
    {% endif %}
</li>
