{% assign post = include.item %}
{% if post.icon %}
{% assign icon = post.icon %}
{% assign class = "shortnews" %}
{% else %}
{% assign icon = "newspaper-o" %}
{% endif %}

{% assign post_type_key = post.post_type %}
{% assign post_type_label = post.post_type_label %}
{% if post_type_key == nil or post_type_key == "" %}
    {% case icon %}
        {% when "file-text-o" %}
            {% assign post_type_key = "papers" %}
            {% assign post_type_label = "Papers" %}
        {% when "trophy" %}
            {% assign post_type_key = "awards" %}
            {% assign post_type_label = "Awards" %}
        {% when "money" %}
            {% assign post_type_key = "funding" %}
            {% assign post_type_label = "Funding" %}
        {% else %}
            {% assign post_type_key = "news" %}
            {% assign post_type_label = "Events & News" %}
    {% endcase %}
{% endif %}
{% if post_type_label == nil or post_type_label == "" %}
    {% case post_type_key %}
        {% when "papers" %}
            {% assign post_type_label = "Papers" %}
        {% when "awards" %}
            {% assign post_type_label = "Awards" %}
        {% when "funding" %}
            {% assign post_type_label = "Funding" %}
        {% when "news" %}
            {% assign post_type_label = "Events & News" %}
        {% else %}
            {% assign post_type_label = post_type_key | replace: "-", " " | capitalize %}
    {% endcase %}
{% endif %}

{% capture news %}
    <div>
        {% if post.shortnews %}
            {{ post.content | markdownify | remove: '<p>' | remove: '</p>' }}
        {% else %}
            <h5> <a href="{{ site.base }}{{ post.url }}"> {{ post.title }} </a> </h5>
            {{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}
            <br>
            <a href="{{ site.base }}{{ post.url }}"> Read more &raquo;</a>
        {% endif %}
    </div>
{% endcapture %}

{% capture header %}
<div class="news-card__meta">
    <span class="fa fa-fw fa-{{ icon }}"></span>
    <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
</div>
{% endcapture %}

<li class="news-card {{ class }}"
    data-post-type="{{ post_type_key | escape }}"
    data-post-type-label="{{ post_type_label | escape }}">
    {% if post.image %}

        {% capture img %}
            <img class="img-fluid d-block mx-auto"
                 style="{{ post.image_style }}"
                 src="{{ post.image }}">
        {% endcapture %}

        <div class="news-card__surface news-card__surface--with-image">
            <div class="news-card__body">
                {{ header }}
                <div class="news-card__content">
                    {{ news }}
                </div>
            </div>
            <div class="news-card__image">
                {% if post.image_link %}
                    <a href="{{ post.image_link }}">{{ img }}</a>
                {% else %}
                    {{ img }}
                {% endif %}
            </div>
        </div>
     {% else %}
        <div class="news-card__surface">
            {{ header }}
            <div class="news-card__content">
                {{ news }}
            </div>
        </div>
    {% endif %}
</li>
